/* small screen */

/* common */

body{
    margin: 0;
}

h1,h2{
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

p{
    margin: 0;
    font-size: 16px;
    text-align: center;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s;
}

a:hover{
    cursor: pointer;
    opacity: 0.5;
}

/* header */

header{
    background-color: #4e4948;
    color: #eee;
}

header .container{
    padding: 0; 
}

header h1{
    line-height: 80px;
}

/* works */

.works{
    background-color: whitesmoke;
}

.works .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px 56px;
}

.works .container p{
    margin-top: 32px;
}

.works ul h1{
    padding: 0 8px;
    border-left: 3px solid navy;
}

.works .img{
    margin-top: 8px;
}

.works .background{
    margin-top: 4px;
}

.works ul{
    width: 100%;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 16px;
}

.works li{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works img{
    width: 100%;
    height: auto;
}

/* footer */

footer{
    background-color: #4e4948;
    color: #eee;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer .container{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 16px 0;
}

footer small{
    font-size: 16px;
}




/* large screen */

@media (min-width:650px){

    .works ul{
        max-width: 616px;
    }
    
    .works li{
        width: calc((100% - 16px) / 2);
    }

}